<h2>Atualizar cadastro</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :nome,
                label: "Nome",
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "nome" }%>

    <%= f.input :email, required: true, label: "E-mail", autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                label: "Senha",
                hint: "deixe em branco se não quiser mudar",
                required: false,
                input_html: { autocomplete: "nova senha" } %>
    <%= f.input :password_confirmation,
                label: "Confirmação de senha",
                required: false,
                input_html: { autocomplete: "nova senha" } %>
    <%= f.input :current_password,
                label: "Senha atual",
                hint: "senha atual",
                required: true,
                input_html: { autocomplete: "senha atual" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar" %>
  </div>
<% end %>

<%= link_to "Excluir cadastro", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
