.row
%aside.col-md-12
  = simple_form_for(@agencia, method: :post, url: agencia_bancaria_url) do |f|
    .form-group
      = render 'shared/error_messages', object: f.object
      = f.input :numero, label: 'Número da agência'
      = f.input :endereco, label: 'Endereço'
      = f.submit "Salvar", class: "btn btn-primary"